:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --color-text-secondary: #212121;
    --bg-color-dark:#2F303A;
    --bg-color-lite: #F5F4FA;
  }
  $main-color: #fff;
$accent-color: #d41443;
$main-bg: #ffb8ca;
$advanced-bg: #ffa5ba;
$main-coffee: #f0d1a5;
$green-color: #c2e297;
$footer-bg: #fff5f6;
